body {
	margin: 0;
	padding-top: 109px;
	text-align: center;
	font-family: monospace;
	font-size: 16px;
	line-height: 21px;
	background-color: #f2f6fc;
	color: #202124;
}

p {
	margin-top: 0;
}

.dropdown {
	display: inline-block;
	background-color: #fff;
	border: 1px solid #202124;
	text-align: left;
	overflow: hidden; /* <------  */
}

.toggle {
    appearance: none;
	position: relative;
    width: 100%;
    margin: 0;
	padding: 11px 17px;
	background-color: #6ba6fe;
	font-weight: 700;
    cursor: pointer;
}

.toggle:after {
	content: 'Dropdown';
}

.drawer {
	margin-top: -100%; /* <------  */
	display: inline-block; /* <------  */
	padding: 11px 17px;
	width: 100%;
	box-sizing: border-box;
	transition: margin-top .25s; /* <------  */
}

.toggle:checked + .drawer {
	margin-top: 0; /* <------  */
}